/*
1. add card types for energy/attack/power
2. add a spot to track drowning
3. change the pile divs to use variable-size font-heights

*/
#app {
  display: flex;
  flex-direction: column;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 6vh;
  width: 99vw;
  align-items: center;
}


.card h3 {
  font-size: 2vmin;
  padding: 0;
  padding-left: 0.1vmin;
  margin-bottom: 0;
}

.card-top-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.5vmin;
}

.card-stats-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.5vmin;
  width: 100%;
  padding: 0.3vmin;
}

.card {
  background: linear-gradient(90deg, rgb(255, 238, 208),rgb(230, 171, 94), rgb(255, 200, 127), rgb(243, 133, 23));
  margin: 0.4vmax;
  width: 13vw;
  height: 25vh;
  /* float: left; */
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}



.defense {
  display:inline-block;
  aspect-ratio: 1;
  border-image: radial-gradient(red 69%,#0000 70%) 84.5% fill/100%;
  clip-path: polygon(-41% 0,50% 91%, 141% 0);
  color: white;
  text-align: center;
  flex-grow: 0.1;
  font-size: 1.5vw;
  flex-shrink: 2;
  line-height: 2vw;
  height: 2.5vw;
  width: 2vw;
}

.avatar {
  width: 10vmin;
  height: 10vmin;
  margin: 0.2vmin;
}


#handContainer2, #playerMonstersInPlay, #enemyMonstersInPlay {
  width: 98vw;
  height: 30vh;
  background-color: #0500332a;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-content: center;
  /*background: linear-gradient(45deg, rgba(32, 78, 70, 0.6) 0%, rgba(255,175,70,0.23) 35%, rgba(0,212,255,0.08) 100%); */
}

#playerMonstersInPlay {
  background-color: #96fbff5c;
}

#enemyMonstersInPlay {
  background-color: #ffbcbd5c;
}

#handContainer2 .card {
  position: sticky;
}



.card-pile-card {
  border: 1px solid black;
  background: linear-gradient(90deg, rgb(255, 238, 208),rgb(230, 171, 94), rgb(255, 200, 127), rgb(243, 133, 23));
  margin: 1%;
  height: 10vh;
  width: 15vw;
  float: left;
  display: block;
  justify-content: center;
  overflow: wrap;
}





/* https://codersblock.com/blog/creating-glow-effects-with-css/ 
https://blog.logrocket.com/css-style-button-accessibility/*/

.move-div-fire h3, .move h3, .move p, .move-div-fire p, .card h3, .card p, .pile p, .card-pile-card h3, #playerStats h4, .power h3, .power p {
  margin-block-start: 0.01em;
  margin-block-end: 0.01em;
  margin-left: 0.1em;
  padding: 0.05vw;
}

#status-text-div p {
  margin-block-start: 0.01em;
  margin-block-end: 0.01em;
  margin-left: 0.1em;
  padding: 0.2vmax;
  font-size: 3vmin;
}

.card-pile-card h3 {
  font-size: 2.2vmin;
}

.card-pile-card p {
  font-size: 1.6vmin;
}

.card p{
  font-size: 1.65vmin;
  line-height: 1.7vmin;
  padding: 0;
  justify-content: center;
}

.monster-energy {
  font-size: 4vmin;
  color: white;
  border-radius: 10px;
  padding: 0.3vh 0.4vw;
  margin-left: 0.1vw;
  text-align: center;
}

.monster-energy-fire {
  background: linear-gradient(90deg,rgb(255, 208, 208), rgb(243, 23, 23),rgb(230, 0, 0), rgb(243, 23, 23),rgb(255, 208, 208));
}

.monster-energy-water {
  background: linear-gradient(90deg,rgb(208, 209, 255), rgb(23, 27, 243),rgb(0, 58, 230), rgb(23, 30, 243),rgb(208, 211, 255));
}

.monster-energy-air {
  background: linear-gradient(90deg,rgb(255, 252, 244), rgb(188, 188, 188),rgb(173, 172, 160), rgb(172, 172, 167),rgb(223, 222, 214));
  color:rgb(11, 11, 17);
}

.monster-energy-earth {
  background: linear-gradient(90deg,rgb(208, 255, 208), rgb(57, 198, 26),rgb(2, 151, 9), rgb(3, 196, 0),rgb(208, 255, 210));
}



.player-energy {
  font-size: 4vmin;
  background-color: rgb(8, 61, 0);
  color: white;
  border-radius: 10px;
  padding: 0.3vh 0.4vw;
  margin-left: 0.1vw;
  text-align: center;
}

.player-energy-fire, .hand-card-cost-fire {
  background: linear-gradient(90deg,rgb(255, 208, 208), rgb(243, 23, 23),rgb(230, 0, 0), rgb(243, 23, 23),rgb(255, 208, 208));
}
.hand-card-cost-fire {
  background: linear-gradient(90deg, rgb(224, 84, 84),rgb(187, 0, 0), rgb(226, 69, 69));
}

.player-energy-water, .hand-card-cost-water {
  background: linear-gradient(90deg,rgb(208, 209, 255), rgb(23, 27, 243),rgb(0, 58, 230), rgb(23, 30, 243),rgb(208, 211, 255));
}

.energy-cost, .hand-card-cost {
  width: 3.5vmin;
  height: 3.5vmin;
  text-align: center;
  border-radius: 50%;
  font-size: 2.5vmin;
  background-color: rgba(255, 219, 219, 0.916);
  font-weight: bold;
  line-height: 3vmin;
  color: rgb(0, 0, 0);
  float: right;
  transition: background-color 0.25s;
 }



 .largerHeight {
  font-size: 3vmin;
  background-color: rgba(64, 0, 0, 0.916);
  color: white;
 }

 .alt-cost {
  width: 1.8vmin;
  height: 1.8vmin;
  font-size: 1em;
  padding: 2vmin;
  margin-right: 3%;
  line-height: 1.8vmin;
  text-align: center;
  border-radius: 50%;
  font-size: 1.2em;
  background-color: rgb(8, 61, 0);
  font-weight: bold;
  color: white;
  float: right;
  max-height: 3vw;
 }

 .card-reward {
  margin-left: 2vw;
  width: 21vw;
  height: 14vh;
}

#shop-div .card-reward {
  width: 20vw;
  height: 15vh;
}

 

.card-top-row-reward {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.skip-button{
  margin: 2vmax;
}

/* .hunted {
  background-image: url(img/crosshair.PNG);
  height: 1.6vmin;
  width: 1.6vmin;
} */

.extraheal {
  background-image: url(img/icons/status/extraheal.png);
  background-size: contain;
  height: 3vw;
  width: 3vw;
  filter: invert(11%) sepia(98%) saturate(6164%) hue-rotate(353deg) brightness(81%) contrast(100%);
  -webkit-text-stroke: 1px solid white;
}


.healafterfight {
  background-image: url(img/icons/status/healafterfight.png);
  background-size: contain;
  height: 3vw;
  width: 3vw;
  filter: invert(11%) sepia(98%) saturate(6164%) hue-rotate(353deg) brightness(81%) contrast(100%);
}

.doubleendofturn {
  background-image: url(img/icons/status/doubleendofturn.png);
  background-size: contain;
  height: 3vw;
  width: 3vw;
  filter: invert(92%) sepia(0%) saturate(933%) hue-rotate(350deg) brightness(98%) contrast(88%);
}

#playerstatus {
  width: 5vw;
  height: 12vmax;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#backstepdamage {
  background-image: url(img/icons/status/backstepdamage2.png);
  position: relative;
  background-size: contain;
  height: 2.5vw;
  width: 2.5vw;
  /* filter: invert(92%) sepia(0%) saturate(933%) hue-rotate(350deg) brightness(98%) contrast(88%); */
}

#cantselfdamage {
  background-image: url(img/icons/status/cantselfdamage2.png);
  position: relative;
  background-size: contain;
  height: 2.5vw;
  width: 2.5vw;
  filter: invert(88%) sepia(60%) hue-rotate(185deg) brightness(104%) contrast(105%);
}

#blockkeep {
  background-image: url(img/icons/status/blockkeep.png);
  position: relative;
  background-size: contain;
  height: 2.5vw;
  width: 2.5vw;
}

#reformingshield {
  background-image: url(img/icons/status/reformingshield.png);
  filter: invert(92%) sepia(0%) saturate(933%) hue-rotate(350deg) brightness(98%) contrast(88%);
  position: relative;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5vw;
  width: 2.5vw;
}

.shieldnumber {
  color: blue;
  text-align: center;
  font-size: 1.5vmin;
}

#gainstrengthenergy {
  background-image: url(img/icons/status/energychange.png);
  filter: invert(92%) sepia(0%) saturate(933%) hue-rotate(350deg) brightness(98%) contrast(88%);
  position: relative;
  background-size: contain;
  justify-content: top;
  height: 2.5vw;
  width: 2.5vw;
}

.gainstrengthenergynumber {
  color: blue;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 2vmin;
}

#backstepdamagepopup, #blockkeeppopup, #cantselfdamagepopup, #reformingshieldpopup, #gainstrengthenergypopup {
    display: none;
    position: absolute;
    top: 6%;
    left: 22%;
    z-index: 5;
    width: 20vw;
    height: 5vh;
    font-size: 2vmin;
    background-color: #f9f9f9;
    color: black;
    border: 1px solid #ccc;
}


.hunted {
	width: 5vmin;
	height: 5vmin;
	background: red;
  color: white;
	position: relative;
  border-radius: 50%;
  line-height: 5vmin;
  font-size: 10vmin;
  align-items: center;
  justify-content: center;
  display: flex;
}

.hunted p {
  z-index: 10;
  font-size: 2.5vmin;
  color: white;
  position: absolute;
}

.town-div h3 {
  z-index: 5;
}

.hunted:before {
	content: "";
	position: absolute;
	top: .5vmin;
	left: .5vmin;
	border-radius: 50%;
	width: 4vmin;
	height: 4vmin;
  background: white;
}

.hunted:after {
	content: "";
	position: absolute;
	top: 1vmin;
	left: 1vmin;
  border-radius: 50%;
	width: 3vmin;
	height: 3vmin;
  background: red;
}

.poison {
  border-radius:0% 100% 100% 100%;
	transform: rotate(45deg);
  background-color: green;
  color: white;
  height: 3vmin;
  width: 3vmin;
  margin-top: 3vh;
  line-height: 3vmin;
  display: inline-block;
  text-align: center;
}

.poison-text-span {
  display: block;
  transform: rotate(-45deg);
  font-size: 2.5vmin;
}

.hand-card-cost {
  width: 1.8vmin;
  height: 1.8vmin;
  font-size: 1em;
  padding: 2vmin;
  margin-right: 3%;
  line-height: 1.8vmin;
  background-color: rgb(8, 61, 0);
  color: white;
 }

 .fire-energy {
  border: 3px solid rgb(155, 9, 9);
  background: linear-gradient(90deg, rgb(174, 4, 4),rgb(200, 58, 58), rgb(172, 10, 10), rgb(128, 8, 8));
  line-height: 3vh;
  text-align: center;
  font-weight: bold;
  color: white;
}

#level-up-div {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.water-energy {
  border: 3px solid rgb(44, 40, 175);
  background: linear-gradient(90deg, rgb(168, 165, 255),rgb(55, 55, 194), rgb(44, 40, 175), rgb(23, 1, 110));
  line-height: 3vh;
  text-align: center;
  font-weight: bold;
  color: white;
}


.rare-card {
  background: linear-gradient(45deg, rgb(246, 255, 145),rgb(246, 232, 83), rgb(224, 222, 121),rgb(189, 193, 5), rgb(246, 255, 145));
  border: 3px double yellow;
}




.alt-upgrade-text, .alt-cost, .alt-hits-text, .alt-card-text {
  display: none;
}

.alt-upgrade-text, .alt-hits-text, .alt-card-text {
  color: rgb(189, 255, 189);
  
}



.ability-card {
  border: 3px solid blue;
}

.attack-card {
  border: 3px solid red;
}

.stay-visible {
  display: block;
}

.trigger-condition-met {
    background-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%); 

}



.map-square {
  background:  rgba(229, 181, 151, 0.9);
  border-radius: 5%;
  width: 10.5vw;
  height: 15vh;
  border: none;
  color: rgb(63, 63, 63);
  margin: 5vh 0vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  visibility: hidden;
}

.dev-mode-div {
  position: absolute;
  height: 20vh;
  width: 20vw;
  top: 0;
  left: 0;
}

.arrow-1 {
  width:100px;
  height:30px;
  display: flex;
}

.arrow-1:before {
  content: "";
  background: currentColor;
  width:15px;
  clip-path: polygon(0 1vmin,calc(100% - 1.5vmin) 1vmin,calc(100% - 1.5vmin) 0,100% 50%,calc(100% - 1.5vmin) 100%,calc(100% - 1.5vmin) calc(100% - 1vmin),0 calc(100% - 1vmin));
  animation: a1 1.5s infinite linear;
}

@keyframes a1 {
  90%,100%{flex-grow: 1}
}

.upgrade-animation {
  animation: upgrade 3s linear 1 alternate;
}

@keyframes upgrade {

  100% {
    height: 20vh;
    width: 30vw;
    background-color: yellow;
  }
}

.empty-xp-bar {
  width: 10vw;
  height: 2vh;
  background-color: grey;
  position: relative;
}

.current-xp-bar {
  background-color: blue;
  position: absolute;
  top:-1px;
  left: -1px;
  height: 2.2vh;
}

.monster-xp {
  font-size: 1.6em;
  color: rgb(194, 255, 248);
}

.gym-text {
  font-size: 1.1em;
  color: white;
}

.map-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 6vh;
  padding-left: 1vw;
  background-image: url("img/backgrounds/forest1.jpg");
  background-size: contain;
  height: 82vh;
}

@media (hover: hover) {
  .clickable-square:hover {
    cursor: pointer;
    color: rgb(255, 225, 0);
    background-color: rgba(255, 255, 255, 0.837);
    animation: fadeIn 0.5s forwards;
    /*background: linear-gradient(215deg, rgba(255, 236, 219, 0.716), rgba(229, 181, 151, 0.7));*/
  }

  button:hover {
    background-color: rgb(24, 24, 24);
    color: white;
    cursor: pointer;
  }

  .clickable-square:hover .monster-hp {
    border-image: radial-gradient(rgb(255, 225, 0) 69%,#0000 70%) 84.5% fill/100%;
  }
  

   .fire-choose:hover {
    background-color: rgb(102, 20, 20);
  }
  
  .water-choose:hover {
    background-color: rgb(23, 23, 109);
  }

  #shop-div .playable:hover {
    box-shadow: 0 0 35px rgb(221, 249, 8); 
  }
  .town-div:hover {
    background: linear-gradient(
      45deg,
      #dcd1d179 30%,
      transparent 30%,
      transparent 50%,
      #dcd1d179 50%,
      #dcd1d179  80%,
      transparent 80%,
      transparent 100%
    );
    background-size: 80px 80px;
    animation: towndiv 2s linear infinite;
    animation-direction: reverse;
  }
  .clickable-town-div:hover {
    cursor: pointer;
    box-shadow: 0 0 35px rgba(33,33,33); 
  }
  .heal-div.playable:hover {
    box-shadow: 0 0 80px rgb(239, 0, 0);
    cursor: pointer;
    color: green;
  }
  .clickable-monster:hover {
    cursor: pointer;
    box-shadow: 0 0 30px rgb(154, 15, 15);
  }
  
  .monster-to-choose:hover {
    cursor: pointer;
    box-shadow: 0 0 20px rgb(254, 254, 254); 
    color: white;
    animation: fadeIn 0.5s forwards;
  }
  #drawPile:hover #drawDiv,
#discardPile:hover #discardDiv,
#playerDeckPile:hover #deckDiv {
  animation: fadeIn 1.5s;
  /* -webkit-animation-delay: 3s;
  animation-delay: 3s; */
  display: block;
}
.card-reward:hover .invisible-cost, .card-reward:hover .paid-invisible-cost {
  animation: fadeIn 0.3s;
  display: block;
}
.card.playable:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgb(178, 95, 0); 
  background: linear-gradient(90deg, rgb(64, 59, 52),rgb(108, 80, 43), rgb(88, 68, 43), rgb(87, 47, 8));
  color: white;
}

#handContainer2 .playable:hover {
  border: 1.5px solid rgb(255, 211, 101);
}

.selectable {
  border: 4px solid red;
  cursor: pointer;
}

.can-attack {
  border: 4px solid green;
}

.is-attacking {
  border: 8px solid rgb(0, 194, 0);
}


.card-upgrade:hover .upgrade-text, 
.card-upgrade:hover .card-text, 
.card-upgrade:hover .hand-card-cost,
.card-change-text:hover .hand-card-cost, 
.card-change-text:hover .upgrade-text, 
.card-change-text:hover .card-text,
.card-change-text:hover .alt-card-text {
  display: none;
}

.card-upgrade:hover .alt-upgrade-text, .card-upgrade:hover .alt-card-text, .card-upgrade:hover .alt-cost,  .card-change-text:hover .alt-hits-text, .card-change-text:hover .alt-card-text,
.card-change-text:hover .alt-cost {
  display: block;
}
.trigger-condition-met:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgb(0, 141, 207); 
  background: linear-gradient(90deg, rgb(47, 109, 150),rgb(43, 69, 108), rgb(43, 77, 88), rgb(12, 8, 87));
  color: white;
}
}





@media (hover: none) {
  .clickable-square:active {
    cursor: pointer;
    color: rgb(255, 225, 0);
    background-color: rgba(255, 255, 255, 0.837);
    /*background: linear-gradient(215deg, rgba(255, 236, 219, 0.716), rgba(229, 181, 151, 0.7));*/
  }

  .clickable-square:active .monster-hp {
    border-image: radial-gradient(rgb(255, 225, 0) 69%,#0000 70%) 84.5% fill/100%;
  }
  

   .fire-choose:active {
    background-color: rgb(102, 20, 20);
  }
  
  .water-choose:active {
    background-color: rgb(23, 23, 109);
  }
  .clickable-monster:active {
    cursor: pointer;
    box-shadow: 0 0 30px rgb(154, 15, 15);
  }
  
  .monster-to-choose:active {
    cursor: pointer;
    box-shadow: 0 0 20px rgb(254, 254, 254); 
    color: white;
  }
  #drawPile:active #drawDiv,
#discardPile:active #discardDiv,
#playerDeckPile:active #deckDiv {
  animation: fadeIn 1s;
  display: block;
}

.card-reward .invisible-cost, .card-reward .paid-invisible-cost {
  animation: fadeIn 0.3s;
  display: block;
}

#handContainer2 .playable {
  box-shadow: 0 0 10px rgb(178, 95, 0); 
  background: linear-gradient(90deg, rgb(208, 194, 170),rgb(192, 142, 78), rgb(210, 164, 103), rgb(213, 116, 20));
}

.card-upgrade .upgrade-text, 
.card-upgrade .card-text, 
.card-upgrade .hand-card-cost,
.card-change-text .hand-card-cost, 
.card-change-text .upgrade-text, 
.card-change-text .card-text,
.card-change-text .alt-card-text {
  display: none;
}

.card-upgrade .alt-upgrade-text, .card-upgrade .alt-card-text, .card-upgrade .alt-cost,  .card-change-text .alt-hits-text, .card-change-text .alt-card-text,
.card-change-text .alt-cost {
  display: block;
}
}

.map-icon {
  height: 12vmin;
  width: 12vmin;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
}

.overworld-shop {
  background-image: url(img/icons/shop.png);
}


.TownUpgrade:before, .TownUpgrade:after {
 content: "";
 position: absolute;
 background: rgb(7, 220, 0);
}

.TownUpgrade:before {
 left: 50%;
 width: 30%;
 margin-left: -15%;
 height: 100%;
}

.TownUpgrade::after {
  top: 50%;
  left: 0%;
  height: 30%;
  margin-top: -15%;
  width: 100%;
}

 .TownRemove::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  height: 30%;
  margin-top: -15%;
  width: 100%;
  background: rgb(220, 40, 0);
 }

.non-buyable-card {
  color: rgb(153, 5, 5);
}

#discardPile {
  position: absolute;
  left: 2vw;
  top: 94vh;
}

#drawPile {
  position: absolute;
  left: 2vw;
  top: 35vh;
}

.opponent-windup {
  animation: opponentWindup 0.5s forwards ;
}

@keyframes opponentWindup {
  0% { transform: translateX(0); }
  25% { transform: translateX(200px); }
  50% { transform: translateX(-200px); }
  75% { transform: translateX(-100px); }
  100% { transform: translateX(0); }
}
